@if(serial.validPortFlag){
    <div class="col-top-strech app-card">
        <div class="row-left-stretch app-card-toolbar">
            <div class="row-left app-card-title">
                network
            </div>
            <button (click)="readKeys()">
                <i class="fa fa-arrow-down"></i> read
            </button>
            <button (click)="wrKeys()">
                <i class="fa fa-arrow-up"></i> write
            </button>
        </div>
        <div class="col-top-strech nwk-frame">
            <div class="row-left">
                <label #keyLabel>
                    nwk key:
                </label>
                <input
                    #nwkKey
                    type="text"
                    [maxLength]="maxKeyLen"
                    size="18"
                    (change)="onKeyChange(nwkKey.value)"
                    (blur)="onKeyBlur(nwkKey.value)">
            </div>
            <div class="row-left">
                <label #panLabel>
                    pan id:
                </label>
                <input
                    #pan
                    type="number"
                    [min]="minId"
                    [max]="maxId"
                    (change)="onPanChange(pan.value)"
                    (blur)="onPanBlur(pan.value)">
            </div>
            <div class="row-left">
                <label #chLabel>
                    channel:
                </label>
                <input
                    #channel
                    type="number"
                    [min]="minCh"
                    [max]="maxCh"
                    (change)="onChChange(channel.value)"
                    (blur)="onChBlur(channel.value)">
            </div>
        </div>
    </div>
}
@if(serial.validPortFlag){
    <div class="app-card">
        <ng-template #dynamic></ng-template>
    </div>
}
@if(serial.validPortFlag){
    <div class="row-right app-card" id="rst-frame">
        <div class="row-left app-card-title">
            device
        </div>
        <button (click)="serial.softwareRstReq()">
            <i class="fa fa-refresh"></i> reset
        </button>
    </div>
}

<div class="col-top-strech app-card" id="logs">
    <div class="row-left app-card-toolbar">
        <div class="row-left app-card-title">logs</div>
        <button (click)="clearLogs()">
            <i class="fa fa-trash-o"></i> clear
        </button>
        <div class="row-right">
            <label>autoscroll:</label>
            <input
                #cbScroll
                type="checkbox"
                (click)="autoScrollChange()">
        </div>
    </div>
    <div class="col-top-strech" id="logList" #logList>
        @for(msg of logs; track msg){
            <div class="row-left log-msg" [style.color]="msg.color">
                {{ msg.text }}
            </div>
        }
    </div>
</div>


<!-- <div class="main-container" id="container">


    <div *ngIf="serial.validPortFlag" id="nwkData" class="app-card">
        <div class="right-center app-card-toolbar">
            <div class="left-center app-card-title">network</div>
            <button mat-button (click)="readKeys()" >
                <mat-icon>file_download</mat-icon>
                read
            </button>
            <button mat-button (click)="wrKeys()" [disabled]="!isSecValid()">
                <mat-icon>file_upload</mat-icon>
                save
            </button>
        </div>
        <div id="nwkGroup">
            <mat-form-field id="nwkKey" hideRequiredMarker="true" appearance="outline">
                <mat-label>key (16 chars)</mat-label>
                <input matInput
                       type="text"
                       [maxLength]="16"
                       placeholder="nwk-key"
                       [formControl]='nwkKeyFormCtrl'
                       autocomplete="off"/>
                <mat-error align="end" *ngIf="nwkKeyFormCtrl.invalid">{{nwkKeyErr()}}</mat-error>
            </mat-form-field>
            <mat-form-field id="panId" hideRequiredMarker="true" appearance="outline">
                <mat-label>pan id (1 - 65534)</mat-label>
                <input matInput
                       type="number"
                       [max]="maxId"
                       [min]="minId"
                       placeholder="PAN ID"
                       [formControl]="panIdFormCtrl" />
                <mat-error align="end" *ngIf="panIdFormCtrl.invalid">{{panIdErr()}}</mat-error>
            </mat-form-field>
            <mat-form-field id="nwkCh" hideRequiredMarker="true" appearance="outline">
                <mat-label>channel (11 - 26)</mat-label>
                <input matInput
                       type="number"
                       [max]="maxCh"
                       [min]="minCh"
                       placeholder="Channel"
                       [formControl]="nwkChFormCtrl" />
                <mat-error align="end" *ngIf="nwkChFormCtrl.invalid">{{nwkChErr()}}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="serial.validPortFlag" id="nodeData" class="app-card">
        <ng-template #dynamic></ng-template>
    </div>
    <div *ngIf="serial.validPortFlag" id="devReset" class="right-center">
        <div class="left-center app-card-title">device</div>
        <button mat-button (click)="serial.softwareRstReq()">
            <mat-icon>autorenew</mat-icon>
            reset
        </button>

    </div>
    <div id="logs" class="app-card">
        <div class="right-center app-card-toolbar">
            <div class="left-center app-card-title">logs</div>
            <button mat-button (click)="clearLogs()">
                <mat-icon>delete_forever</mat-icon>
                clear
            </button>
            <mat-checkbox id="cbScroll"
                          [ngModel]="scrollFlag"
                          (ngModelChange)="autoScrollChange($event)"
                          color="primary">
                autoscroll
            </mat-checkbox>
        </div>
        <div id="logList">
            <div *ngFor="let msg of logs" class="log-msg left-center" [style.color]="msg.color">
                {{ msg.text }}
            </div>
        </div>
    </div>
</div> -->
