:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 5px;
    overflow: auto;
}

#rst-frame {
    padding: 6px;
}

#logs {
    flex: 1 1 auto;
    overflow: auto;
}

#logList {
    flex: 1 1 auto;
    overflow: auto;
    gap: 0px;
}

.log-msg {
    padding: 6px;
    font-size: 12px;
    border-bottom: solid 1px #ededed;
}







