:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px
}

.part-frame {
    padding: 10px;
}

.part-header {
    border-bottom : solid 1px lightgray;
    padding: 8px;
}

.part-name {
    flex: 1 1 auto;
    color: gray;
    font-size: 1.3rem;
    padding-left: 10px;
    user-select: none;
}

input[type="number"] {
    padding: 4px;
    font-size: 1rem;
    text-align: left;
    outline: none;
    border: none;
    width: 5rem;
    border-bottom: 1px solid lightgrey;
}

button {
    font-size: 1.0rem;
    color: gray;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 4px 8px;
    white-space: nowrap;
    user-select: none;
}
button:hover {
    background-color: lightgray;
}

label {
    color: gray;
    user-select: none;
    white-space: nowrap;
}
